@import "tailwindcss";

@font-face {
  font-family: "Mad Hacker";
  font-style: normal;
  font-weight: normal;
  src: url('/mad-hacker.ttf') format('truetype');
}

@theme {
  --font-display: "Mad Hacker", sans-serif;
}