---
import Layout from "../layouts/Layout.astro";
import Feed from "../components/Feed";

const user = await Astro.locals.currentUser()

if (!user) {
  return Astro.redirect("/sign-in")
}
---

<Layout title="Scriptia - Home" activeTab="home">
    <div class="flex gap-4">
        <img src="/logo.webp" alt="Logo" class="size-24" />
        <div>
            <h2 class="text-2xl font-bold text-indigo-400">
                Bienvenido de nuevo
            </h2>
            <h2 class="text-xl lg:text-xl text-red-500/80 font-bold font-display uppercase">
                @{user.username}
            </h2>
            <p class="text-gray-400">
                Revisa las últimas publicaciones de la comunidad
            </p>
        </div>
    </div>
    <Feed client:load />
</Layout>
