---
import Layout from "../layouts/Layout.astro";
import ListOfPosts from "../components/ListOfPosts.astro";

const user = await Astro.locals.currentUser();

if (!user) {
  return Astro.redirect("/sign-in")
}
---

<Layout title="Scriptia - Me gusta" activeTab="likes">
    <h2 class="text-indigo-400 font-display text-3xl font-bold">ME GUSTA</h2>
    <p class="text-neutral-500 mb-4">Aquí puedes ver todas las publicaciones que te han gustado.</p>
    <ListOfPosts
      userId={user.id}
      method="likes"
      server:defer
    />
</Layout>
