---
import Layout from "../layouts/Layout.astro";
import NewPostForm from "../components/NewPostForm";
---

<Layout title="Scriptia - Nuevo post" activeTab="new-post">
    <h2 class="text-neutral-300 font-display text-3xl font-bold">NUEVO POST</h2>
    <p class="text-neutral-500 mb-4">Comparte tus conocimientos con toda la comunidad.</p>
    <NewPostForm client:load />
</Layout>
