---
import Layout from "../layouts/Layout.astro";
import PostPreview from "../components/PostPreview.tsx";
import { getPostsSavedByUserId } from "../lib/posts";

const user = await Astro.locals.currentUser();

if (!user) {
  return Astro.redirect("/sign-in")
}

const posts = getPostsSavedByUserId(user.id);
---

<Layout title="Scriptia - Guardados" activeTab="saved">
    <h2 class="text-neutral-300 font-display text-3xl font-bold">GUARDADOS</h2>
    <p class="text-neutral-500 mb-4">Aquí puedes ver todas las publicaciones que has guardado.</p>
    {posts.length > 0 ? (
        <div class="flex flex-col gap-2 mt-4">
        {posts.map((post) => (
            <PostPreview post={post} client:visible />
        ))}
        </div>
    ) : (
        <p class="text-neutral-300 text-lg lg:text-xl mt-4">No hay publicaciones guardadas.</p>
    )}
</Layout>
