---
import Layout from "../layouts/Layout.astro";
import { SignIn as ClerkSignIn } from '@clerk/astro/components'
---

<Layout title="Scriptia - Login">
    <div class="w-dvw h-dvh flex items-center justify-center">
        <ClerkSignIn />
    </div>
</Layout>