---
import "../styles/global.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="logo-32.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
</head>
<body class="bg-neutral-900 min-w-dvw min-h-dvh">
    <slot />
</body>
</html>

<script is:inline src="https://res.cloudinary.com/veseylab/raw/upload/v1684982764/magicmouse-2.0.0.cdn.min.js"></script>
<script is:inline>
  const options = {
    "outerStyle": "circle",
    "hoverEffect": "circle-move",
    "hoverItemMove": true,
    "defaultCursor": false,
    "outerWidth": 30,
    "outerHeight": 30
  }
  magicMouse(options);
</script>